.loader-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: var(--Primary_Color_100);
    opacity: 0.9;
  }