.card-hz {
  margin: 0 1rem;
  background-color: var(--Color_White);
  border: var(--card_border);
}
.cart-card-body{
  padding: 1rem;
  width: 50%;
  flex-wrap: wrap;
}
.flex-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.hr-image {
  object-fit: contain;
  height: 15rem;
  width: 40%;
  padding: 1rem 0 1rem 1rem;
}
.quantity-count {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}
.button-count-plus,
.button-count-minus {
  font-size: 1.25rem;
  border-radius: 3px;
  padding: 6px;
  border: 2px solid var(--Secondary_Border_Color);
  background: transparent;
}

.btn:hover {
  color: var(--Color_White);
}
.button-count-plus {
  color: var(--Color_Success_600);
}

.button-count-minus {
  color: var(--Color_Danger_600);
}

.card-sub-title {
  color: var(--Secondary_Color);
}

.quantity-count span:hover {
  color: var(--Color_Black);
}
.quantity-value {
  font-size: 1.25rem;
  padding: 0 1rem;
}
.mt {
  margin-top: 3rem;
}