.grid-container {
    margin: 2rem auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }
  @media screen and (max-width: 400px) {
    .grid-container {
      grid-template-columns: auto;
      justify-content: center;
    }
  }