.filter-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--Primary_Color);
  }
  .filter-heading h3 {
    margin: 0;
    font-size: 1.25rem;
    font-family: var(--Barlow_Family);
  }
  .clear-link {
    cursor: pointer;
    text-transform: uppercase;
    color: var(--Primary_Color);
  }
  .clear-link:hover {
    color: var(--Primary_Hover_Color);
  }
  .cat-heading {
    font-size: 1.1rem;
    margin: 0;
    padding: 10px 0 0 0;
    font-family: var(--Barlow_Family);
  }
  
  .book-category,
  .price-category,
  .price-range,
  .rating-category {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--Primary_Color);
  }
  .icon-star {
    color: var(--Primary_Color);
  }
  .rating-star {
    color: var(--Color_Warn_500);
  }
  .slider{
    width: 100%;
  }
  .range-label{
    color: var(--Primary_Color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .label-style {
    font-size: 1rem;
    padding-top: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .book-category label:hover,
  .price-category label:hover {
    color: var(--Color_Black);
  }