.card {
    background-color: var(--Color_White);
  }
  .card-sell-price {
    margin-top: 5px;
  }
  .card-image-container {
    padding: 0;
    position: relative;
  }
  .favourites {
    color: var(--Color_Danger_500);
  }