.card {
  padding: 0 1rem;
  border: 1px solid var(--Secondary_Border_Color);
  background-color: var(--Color_White);
}
.card:hover {
  box-shadow: var(--card_shadow);
}
.rating{
  align-self: center;
}
.image-responsive {
  max-width: 70%;
  height: 40vh;
  object-fit: contain;
}
.card-body{
  padding: 0;
}
.card-title {
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.card-sell-price {
  margin-top: 5px;
}
.card-image-container {
  padding: 0;
  position: relative;
}
.favourites {
  color: var(--Color_Danger_500);
}