.card {
  border-radius: 5px; 
  border: var(--card_border);
  background-color: var(--Color_White);
}
.rating {
  align-self: center;
}
.filled-favourites {
  color: var(--Color_Danger_500);
}
.favourites:hover {
  transition: 0.3s ease-in;
  background-color: var(--Color_Danger_200);
}
.image-responsive {
  width: auto;
  height: 15rem;
  object-fit: contain;
}
.card-body {
  width: 80%;
  padding: 0;
}
.card-title {
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.card-sell-price {
  margin-top: 5px;
}
.card-image-container {
  padding: 0;
  position: relative;
}
.favourites {
  color: var(--Color_Danger_500);
}