.navigation {
  box-shadow: var(--navbar_shadow);
  justify-content: space-between;
  position: relative;
}
.secondary-list {
  padding: 0 20px;
}
.bg-transparent {
  background: transparent;
  padding: 0;
  margin: 0;
}
.logo-text {
  margin-left: 1rem;
  color: var(--Primary_Color);
  font-family: var(--Logo_Font);
}
.quick-link {
  display: flex;
  margin-left: 3rem;
  font-size: 1.25rem;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item:hover {
  opacity: 0.8;
}
.searchbox-icon {
  display: flex;
  color: var(--Secondary_Color);
}
.user-icon {
  color: var(--Primary_Color);
}
.heart-icon,
.shop-icon {
  color: var(--Primary_Color);
}
.cart-badge {
  bottom: 2rem;
}
.favourite-badge {
  bottom: 2rem;
  left: 3.3rem;
}
.search-input {
  width: 100%;
}
.search-icon {
  padding: 0;
}
.search-bar {
  max-width: 20rem;
}
.login-link {
  text-transform: uppercase;
}

@media screen and (max-width: 975px) {
  .hamburger-icon {
    display: flex;
  }
  .quick-link,
  .nav-login-item {
    display: none;
  }
  .search-bar {
    box-sizing: border-box;
    position: absolute;
    background-color: var(--Color_White);
    border-bottom: 1px solid var(--Primary_Color);
    top: 4rem;
    max-width: 100%;
    left: 0;
    display: flex;
  }
}