.navigation {
  box-shadow: var(--navbar_shadow);
  justify-content: space-between;
}
.secondary-list {
  padding: 0 20px;
}
.logo-text {
  margin-left: 1rem;
  color: var(--Primary_Color);
}
.quick-link {
  display: flex;
  gap: 1rem;
  margin-left: 3rem;
  font-size: 1rem;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item:hover {
  opacity: 0.8;
}
.searchbox-icon {
  display: flex;
  color: var(--Secondary_Color);
}
.user-icon {
  color: var(--Primary_Color);
}
.heart-icon,
.shop-icon {
  color: var(--Primary_Color);
}
.cart-badge {
  bottom: 2rem;
}
.favourite-badge {
  bottom: 2rem;
  left: 3.3rem;
}
.search-input {
  width: 100%;
}
.search-icon {
  padding: 0;
}
.search-bar {
  max-width: 20rem;
  margin: 1rem;
}
.login-link {
  text-transform: uppercase;
}