.main-wrapper {
  display: flex;
  margin-top: 2rem;
}
.filter-area {
  position: relative;
}

.main {
  display: grid;
  width: 80%;
  margin-left: 2rem;
  gap: 2rem 1rem;
  align-items: flex-start;
  justify-items: center;
  background-color: var(--Color_White);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Navbar section */
.logo {
  width: 100px;
  max-width: 100%;
}
.navigation {
  border: none;
}
.login-link {
  color: var(--Color_White);
}
.secondary-list i {
  cursor: pointer;
}
.secondary-list i:hover {
  color: var(--Primary_Hover_Color);
}

@media screen and (max-width: 872px) {
  .filter-container {
    position: fixed;
    bottom: 0;
    border: 1px solid blue;
    width: 100%;
    z-index: 2;
    background-color: var(--Secondary_Color);
  }
  .search-icon {
    color: var(--Primary_Color);
    font-size: 1.25rem;
    padding: 1rem;
    display: block;
    margin-left: auto;
  }
  .login-link {
    display: none;
  }
}

@media screen and (max-width: 1296px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1038px) {
  .main {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 30rem;
    margin: 0 auto;
  }
  .card button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 388px) {
  .main {
    grid-template-columns: 1fr;
  }
}